{
  "R": {
    "Version": "4.2.0",
    "Repositories": [
      {
        "Name": "CRAN",
        "URL": "https://cloud.r-project.org"
      }
    ]
  },
  "Packages": {
    "renv": {
      "Package": "renv",
      "Version": "0.17.0",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "dplyr": {
      "Package": "dplyr",
      "Version": "1.1.0",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "ggplot2": {
      "Package": "ggplot2",
      "Version": "3.4.0",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "tidyr": {
      "Package": "tidyr",
      "Version": "1.3.0",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "stringr": {
      "Package": "stringr",
      "Version": "1.5.0",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "purrr": {
      "Package": "purrr",
      "Version": "1.0.0",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "tibble": {
      "Package": "tibble",
      "Version": "3.2.0",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "readr": {
      "Package": "readr",
      "Version": "2.1.4",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "lintr": {
      "Package": "lintr",
      "Version": "3.0.2",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "bookdown": {
      "Package": "bookdown",
      "Version": "0.33",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "knitr": {
      "Package": "knitr",
      "Version": "1.42",
      "Source": "Repository",
      "Repository": "CRAN"
    },
    "rmarkdown": {
      "Package": "rmarkdown",
      "Version": "2.20",
      "Source": "Repository",
      "Repository": "CRAN"
    }
  }
}
